<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Welcome</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="message">
    <h1>ELEVATION SOUNDS</h1>
    <h2>ELEVATE<br> YOUR ENERGY<br> THROUGH<br> THE POWER OF <br> MUSIC</h2>
    </div>
    <div class="container_add" class="d-flex justify-content-between">
        <button type="button" id ="button1"><a href="/suncode/new" class="link" style="display: block;">Contribute Songs</a></button>
    </div>
    <div class="main_container">
        <button type="button" id="button2"><a href="/suncode/show" class="link" style="display: block;">Request Playlist</a><br></button>
    </div>
    <div class="container_view">
        <button type="button" id ="button3"><a href="/suncode/display" class="link" style="display: block;">View Collection</a></button>
    </div>
  </body>
</html>
