<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <h1>Hi, Liat! We are off to a great, fresh start on creating Elevated Sounds. Here is our home page where we will greet our users and introduce them to Elevated Sounds. We will have two buttons: one to receive a playlist, and one to contribute. Enjoy, you're doing great!</h1>

  </body>
</html>
