<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Welcome</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="message">
    <h1>Hi, welcome to Elevation Sounds, a platform that increases your energy level through the power of music.<br/> All you need to do is submit your current energy level (from 1-10) and you will receive a curated playlist of songs. <br/> The songs begin at your current energy level and gradually increase. Enjoy! </h1>
    </div>
    <div class="container_add" class="d-flex justify-content-between">
        <button type="button" id ="button1"><a href="/suncode/new" class="link" style="display: block;">Contribute Songs</a></button>
    </div>
    <div class="main_container">
        <button type="button" id="button2"><a href="/suncode/show" class="link" style="display: block;">Request Playlist</a><br></button>
    </div>
    <div class="container_view">
        <button type="button" id ="button3"><a href="/suncode/display" class="link" style="display: block;">View Song Collection</a></button>
    </div>
  </body>
</html>
