<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Welcome</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Hi, Liat! We are off to a great, fresh start on creating Elevated Sounds. Here is our home page where we will greet our users and introduce them to Elevated Sounds. We will have two buttons: one to receive a playlist, and one to contribute. Enjoy, you're doing great!</h1>
    <div class="container" id ="button1">
        <button type="button"><a href="/suncode/new" class="new-link" style="display: block;">Contribute Songs</a></button>
    </div>
    <div class="container" id ="button2">
        <button type="button"><a href="/suncode/show" class="show-link" style="display: block;">Request Playlist</a><br></button>
    </div>

  </body>
</html>
