<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Welcome</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Hi, welcome to Elevation Sounds, a platform that increases your energy level through the power of music.<br/> All you need to do is submit your current energy level (from 1-10) and you will receive a curated playlist of songs. <br/> The songs begin at your current energy level and gradually increase. Enjoy! </h1>
    <div class="container" id ="button1">
        <button type="button"><a href="/suncode/new" class="new-link" style="display: block;">Contribute Songs</a></button>
    </div>
    <div class="container" id ="button2">
        <button type="button"><a href="/suncode/show" class="show-link" style="display: block;">Request Playlist</a><br></button>
    </div>
    <div class="container" id ="button1">
        <button type="button"><a href="/suncode/display" class="new-link" style="display: block;">View Song Collection</a></button>
    </div>

  </body>
</html>
