<!-- This is where they can submit their own song submissions -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
    <h1>Song Submission</h1>
      <a href="/suncode" class="index-link" style="display: block;">Back Home</a><br>
<!-- //Where does the action go? -->
          <form action ="/suncode" method="POST">
            Name: <input type="text" name="name" /><br/>
            Artist: <input type="text" name="artist" /><br/>
            Link: <input type="text" name="link" /><br/>
            <!-- Mood: <input type="text" name="mood" /><br/> -->
            Energy: <input type="number" name="energy" /><br/>
            <input type="submit" value="Contribute"/>
          </form>
      </div>

  </body>
</html>
