<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Playlist Request</h1>
      <a href="/suncode" class="index-link" style="display: block;">Back Home</a><br>
        <form action ="/suncode/results/" method="GET">
            <!-- Current Mood: <input type="text" name="link" /><br/> -->
            Energy-Level: <input type="number" name="energy" /><br/>
            <input type="submit" value="Request Playlist"/>
        </form>
    </div>
  </body>
</html>
