body {
  background-color: lemonchiffon;
  text-align: center;
  font-size: 10px;
}

ul {
  list-style: none;
  text-align: center;
}

.container {
  background-color: white;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  -webkit-filter: drop-shadow(20px 20px 20px rgba(14, 14, 14, 0.8));
  padding: 35px;
}
}

#button1 {
  width: 100px;
  height: 100px;

}

#button2

#button3
